* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(183, 223, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(241, 241, 241);
    flex-direction: column;
     gap: 1.5rem;
    }
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.box{
     height: 80%;
    width: 75%;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
    overflow: hidden;
}
.top{
    height:5.6rem;
    width: 100%;
    background-color:rgb(29, 98, 29); ;
    display: grid;
     grid-template-columns: repeat(3,1fr);
     justify-self: center;
     align-content: center;
     justify-content: center;
     column-gap: 1rem;
     padding: 1rem;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.scorebox{
    padding: 0.5rem 1rem;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(5, 44, 5);
    font-size: 1rem;
    font-weight: 500;
}
.bottom {
  height:calc(100% - 5.6rem);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.65rem;
    padding: 0.5rem 0.8rem;
    overflow-x: auto;
}
.bottom div{
    height:3rem;
    width: 3rem;
    background-color:#328036;
    border-radius: 50%;
    border: none;
    flex-shrink: 0;
}
.full{
    height: 90%;
    width: 75%;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: cadetblue;
    color: rgb(241, 241, 241);
    border-radius: 0.2rem;
    border: none;
    font-size: 2rem;
    transition: all ease 0.3s;
}
button:active{
    scale:0.9;
}
.boxsmall{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boxsmall:active{
    scale: 0.95;
}
.b1{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: rgb(241, 241, 241);
    color: rgb(20, 81, 20);
    border-radius: 0.2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: tranform ease 0.3s;
}
h2{
    color: black;
    font-size: 1.5rem;
}
#again{
    padding: 0.5rem 1rem;
    background-color: cadetblue;
    color: rgb(241, 241, 241);
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}
#again:active{
    scale:0.9;
}
@media (max-width:425px){
  .top{
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
  }
    .bottom div{
        height:2rem;
    width: 2rem;
    padding-left: 0.1rem;
    }
    .scorebox{
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
    }
    .b1{
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
    }
    #again{
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .full button{
         font-size: 1.2rem;
        padding: 0.5rem 0.8rem;
    }
}