* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(183, 223, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(241, 241, 241);
}
.box{
     height: 80%;
    width: 75%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    overflow: hidden;
}
.top{
    height:90px;
    width: 100%;
    background-color:rgb(29, 98, 29); ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.score{
    display: flex;
    align-items: center;
    gap: 10px;
}
.scorebox{
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(5, 44, 5);
    font-size: 15px;
    font-weight: 500;
}
.bottom {
  height:calc(100%-90px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-left: 8px;
}
.bottom div{
    height:50px;
    width: 50px;
    background-color:#328036;
    border-radius: 50%;
    border: none;
    flex-shrink: 0;
}
.full{
    height: 80%;
    width: 75%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: cadetblue;
    color: rgb(241, 241, 241);
    border-radius: 5px;
    border: none;
    font-size: 40px;
    transition: all ease 0.3s;
}
button:active{
    scale:0.9;
}
.boxsmall{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boxsmall:active{
    scale: 0.95;
}
.b1{
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: rgb(241, 241, 241);
    color: rgb(20, 81, 20);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: tranform ease 0.3s;
}
h2{
    color: black;
    font-size: 25px;
}
#again{
    padding: 8px 15px;
    background-color: cadetblue;
    color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
#again:active{
    scale:0.9;
}